<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css"/>
    <title>Chatroom</title>
</head>
<body>
<div class="join-container">
    <header class="join-header">
        <h1>Hello, {username}!</h1>
    </header>
    <main class="join-main">
        <form action="">Create New Chat Room
            <button type="submit" class="btn"><a href="/create-chat">Create ChatRoom</a></button>
        </form>
        <br>
        <form action="">
            Join Old Chat Room
            <button type="submit" class="btn"><a href="/history">View History</a></button>
        </form>
    </main>
</div>
</body>
</html>
